box {
  background: #ebebeb;
  border-radius: 6px;
  color: #777;
  display: block;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
  padding: 40px 15px;
  text-align: center;
}

another {
	background: #ebebeb;
  border-radius: 6px;
  color: #777;
  display: block;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
  padding: 118px 25px;
  text-align: top;
}
header,
section,
aside,
nav,
footer {
  margin: 0 1.5% 20px 1.5%;
}

.article{
	background: #777;
  color: #ebebeb;
  display: block;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

h1.article{
	background: #ebebeb;
  color: #777;
  display: block;
}

p.article{
	background: #ebebeb;
  color: #777;
  display: block;
}
section {

  text-align: center;
  float: left;
  width: 50%;
}
aside {
  text-align: center;
  float: right;
  width: 44%;
}
footer {
  clear: both;
  margin-bottom: 0;
}
