box {
  background: #ebebeb;
  border-radius: 6px;
  color: #777;
  display: block;
  font: 14px/24px "Source Code Pro", Arial, "Lucida Console", Helvetica Neue, "Courier New", sans-serif;
	font-size: 18px;
  padding: 24px 10px;
  text-align: center;
}

header,
section,
aside,
nav,
footer {
  margin: 0 1.5% 24px 1.5%;
}
.article{
	background: #777;
  color: #ebebeb;
  display: block;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

h1.article{
	background: #ebebeb;
  color: #777;
  display: block;
}

p.article{
	background: #ebebeb;
  color: #777;
  display: block;
}
section {

  text-align: center;
  float: left;
  width: 50%;
}
aside {
  text-align: center;
  float: right;
  width: 44%;
}
footer {
  clear: both;
  margin-bottom: 0;
}



/*
.header h1 {
	color:#777;

}
 p {
	 color: #777;
	background-color: #ebebeb
}



.article{
	background-color:#777;
	color:#ebebeb
}

 h1.article{
	color:#ebebeb
}

.aside{
	background-color: #ebebeb
}

.section{
	float: left;
	background-color: #ebebeb
}

.section h1{
	color:#777;
}
*/
